body {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: white;
  font-size: 14px;
  z-index: 999;
  font-family: 'Merriweather', serif; }
  .header .branding {
    height: 90px;
    width: 220px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #AD976E;
    display: flex;
    text-align: center;
    align-items: center; }
    .header .branding:hover {
      background: #a48b5e; }
    .header .branding img {
      height: 76px;
      margin: 0 auto; }
  .header .container .row {
    height: 90px;
    display: flex;
    align-items: center; }
    .header .container .row .main_menu {
      display: flex;
      align-items: center; }
      .header .container .row .main_menu ul {
        padding: 0;
        float: right;
        list-style: none;
        margin: 0 auto; }
        .header .container .row .main_menu ul li {
          float: left;
          transition-duration: 0.2s; }
        .header .container .row .main_menu ul a {
          padding: 14px;
          color: #3a3a3a;
          transition-duration: 0.2s; }
          .header .container .row .main_menu ul a:hover {
            color: #AD976E;
            text-decoration: none;
            transition-duration: 0.2s; }
      .header .container .row .main_menu li.menu-item-has-children a {
        position: relative;
        padding: 14px 28px 14px 14px; }
        .header .container .row .main_menu li.menu-item-has-children a:hover {
          transition-duration: 0.2s; }
          .header .container .row .main_menu li.menu-item-has-children a:hover > .sub-menu {
            display: block; }
      .header .container .row .main_menu li.menu-item-has-children .sub-menu {
        position: absolute;
        z-index: 999;
        margin: 0px 0px;
        padding: 8px 0px 12px 0px;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        margin-top: 20px;
        background: #AD976E;
        display: table;
        border-radius: 0px 2px 2px 2px;
        -webkit-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 1);
        -o-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 99);
        transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 0.99);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99); }
        .header .container .row .main_menu li.menu-item-has-children .sub-menu li {
          float: none; }
          .header .container .row .main_menu li.menu-item-has-children .sub-menu li a {
            padding: 6px 38px 6px 12px;
            color: #fff;
            background: #ad976e;
            position: relative;
            display: block; }
            .header .container .row .main_menu li.menu-item-has-children .sub-menu li a:hover {
              background: #a48b5e; }
      .header .container .row .main_menu .menu-item-has-children a:after {
        content: '\f107';
        font-family: fontAwesome;
        position: absolute;
        right: 8px;
        top: 12px;
        -webkit-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 1);
        -o-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 99);
        transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 0.99);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99); }
      .header .container .row .main_menu .menu-item-has-children:hover ul.sub-menu {
        visibility: visible;
        opacity: 1;
        margin-top: 12px;
        -webkit-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 1);
        -o-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 99);
        transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 0.99);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99); }
      .header .container .row .main_menu .menu-item-has-children:hover a {
        color: white;
        border-radius: 2px 2px 0px 0px;
        background: #AD976E; }
      .header .container .row .main_menu ul.sub-menu li a:after {
        content: '\f105';
        top: 6px;
        right: 10px; }
      .header .container .row .main_menu ul.sub-menu li a:hover:after {
        right: 8px; }
  .header .appointment {
    text-align: right; }
    .header .appointment a {
      font-weight: 600;
      color: #AD976E; }
      .header .appointment a:hover {
        color: #3a3a3a; }

.content-entry {
  margin-top: 90px; }

.carousel {
  width: 100%;
  min-height: 70vh;
  position: relative; }
  .carousel .carousel-inner .carousel-item {
    min-height: 70vh;
    width: 100%;
    background: green;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
    .carousel .carousel-inner .carousel-item .container .row {
      color: white;
      display: flex;
      align-items: center;
      height: 70vh; }
      .carousel .carousel-inner .carousel-item .container .row h1 {
        letter-spacing: 0.1rem;
        font-size: 2.6rem;
        font-family: 'Merriweather', serif; }
      .carousel .carousel-inner .carousel-item .container .row h2 {
        font-size: 1.2rem;
        letter-spacing: 0.1rem; }
  .carousel .controls {
    right: 0;
    bottom: 0;
    position: absolute;
    background: white;
    width: 120px;
    height: 80px;
    overflow: hidden;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%); }
    .carousel .controls .carousel-control-next, .carousel .controls .carousel-control-prev {
      opacity: 1;
      color: #bcbcbc;
      top: 42px;
      font-size: 12px; }
      .carousel .controls .carousel-control-next svg, .carousel .controls .carousel-control-prev svg {
        width: 16px; }
      .carousel .controls .carousel-control-next .st0, .carousel .controls .carousel-control-prev .st0 {
        fill: #424242;
        width: 20px; }
      .carousel .controls .carousel-control-next:hover .st0, .carousel .controls .carousel-control-prev:hover .st0 {
        fill: #AD976E; }
    .carousel .controls .carousel-control-prev {
      right: 44px;
      left: inherit;
      transform: rotate(180deg); }
    .carousel .controls .carousel-control-next {
      right: 12px; }
    .carousel .controls .seperator {
      min-width: 1px;
      min-height: 24px;
      background: #c1c1c1;
      position: absolute;
      right: 36px;
      top: 50px;
      transform: rotate(20deg); }
  .carousel .down {
    width: 60px;
    height: 50px;
    background: #ad976e;
    position: absolute;
    left: 50%;
    bottom: -25px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    animation-name: down;
    animation-duration: 2.4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: forward; }
    .carousel .down:hover {
      background: #a48b5e; }
    .carousel .down svg {
      width: 24px;
      transform: rotate(90deg);
      margin: 0 auto;
      padding-right: 2px; }
    .carousel .down .st0 {
      fill: #fff; }

@keyframes down {
  0% {
    bottom: -25px; }
  50% {
    bottom: -30px; }
  100% {
    bottom: -25px; } }

/*# sourceMappingURL=style.css.map */
