body {
  background: #e4e4e4;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: white;
  font-size: 14px;
  font-family: 'Merriweather', serif; }
  .header .branding {
    height: 90px;
    width: 220px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #AD976E;
    display: flex;
    text-align: center;
    align-items: center; }
    .header .branding:hover {
      background: #a48b5e; }
    .header .branding img {
      height: 76px;
      margin: 0 auto; }
  .header .container .row {
    height: 90px;
    display: flex;
    align-items: center; }
    .header .container .row .menu-hoofdmenu-container {
      display: flex;
      align-items: center; }
      .header .container .row .menu-hoofdmenu-container ul {
        padding: 0;
        float: right;
        list-style: none;
        margin: 0 auto; }
        .header .container .row .menu-hoofdmenu-container ul li {
          float: left;
          transition-duration: 0.2s; }
        .header .container .row .menu-hoofdmenu-container ul a {
          padding: 14px;
          color: #3a3a3a;
          transition-duration: 0.2s; }
          .header .container .row .menu-hoofdmenu-container ul a:hover {
            color: #AD976E;
            text-decoration: none;
            transition-duration: 0.2s; }
      .header .container .row .menu-hoofdmenu-container li.menu-item-has-children a {
        position: relative;
        padding: 14px 28px 14px 14px; }
        .header .container .row .menu-hoofdmenu-container li.menu-item-has-children a:hover {
          transition-duration: 0.2s; }
          .header .container .row .menu-hoofdmenu-container li.menu-item-has-children a:hover > .sub-menu {
            display: block; }
      .header .container .row .menu-hoofdmenu-container li.menu-item-has-children .sub-menu {
        position: absolute;
        z-index: 999;
        margin: 0px 0px;
        padding: 8px 0px 12px 0px;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        margin-top: 20px;
        background: #AD976E;
        display: table;
        border-radius: 0px 2px 2px 2px;
        -webkit-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 1);
        -o-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 99);
        transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 0.99);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99); }
        .header .container .row .menu-hoofdmenu-container li.menu-item-has-children .sub-menu li {
          float: none; }
          .header .container .row .menu-hoofdmenu-container li.menu-item-has-children .sub-menu li a {
            padding: 6px 38px 6px 12px;
            color: #fff;
            background: #ad976e;
            position: relative;
            display: block; }
            .header .container .row .menu-hoofdmenu-container li.menu-item-has-children .sub-menu li a:hover {
              background: #a48b5e; }
      .header .container .row .menu-hoofdmenu-container .menu-item-has-children a:after {
        content: '\f107';
        font-family: fontAwesome;
        position: absolute;
        right: 8px;
        top: 12px;
        -webkit-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 1);
        -o-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 99);
        transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 0.99);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99); }
      .header .container .row .menu-hoofdmenu-container .menu-item-has-children:hover ul.sub-menu {
        visibility: visible;
        opacity: 1;
        margin-top: 12px;
        -webkit-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 1);
        -o-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 99);
        transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 0.99);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99); }
      .header .container .row .menu-hoofdmenu-container .menu-item-has-children:hover a {
        color: white;
        border-radius: 2px 2px 0px 0px;
        background: #AD976E; }
      .header .container .row .menu-hoofdmenu-container ul.sub-menu li a:after {
        content: '\f105';
        top: 6px;
        right: 10px; }
      .header .container .row .menu-hoofdmenu-container ul.sub-menu li a:hover:after {
        right: 8px; }
  .header .appointment {
    text-align: right; }
    .header .appointment a {
      font-weight: 600;
      color: #AD976E; }
      .header .appointment a:hover {
        color: #3a3a3a; }

/*# sourceMappingURL=style.css.map */
