@charset "UTF-8";
body {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body img {
    max-width: 100%; }

a {
  color: #AD976E; }

::selection {
  background: #AD976E;
  color: #fff; }

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: white;
  font-size: 14px;
  z-index: 999;
  font-family: 'Merriweather', serif; }
  .header .branding {
    height: 90px;
    width: 220px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #AD976E;
    display: flex;
    text-align: center;
    align-items: center; }
    .header .branding:hover {
      background: #a48b5e; }
    .header .branding img {
      height: 76px;
      margin: 0 auto; }
  .header .container .row {
    height: 90px;
    display: flex;
    align-items: center; }
    .header .container .row .main_menu {
      display: flex;
      align-items: center; }
      .header .container .row .main_menu div {
        margin: 0 auto; }
      .header .container .row .main_menu ul {
        padding: 0;
        float: right;
        list-style: none;
        margin: 0 auto; }
        .header .container .row .main_menu ul li {
          float: left;
          transition-duration: 0.2s; }
        .header .container .row .main_menu ul a {
          padding: 14px;
          color: #3a3a3a;
          transition-duration: 0.2s; }
          .header .container .row .main_menu ul a:hover {
            color: #AD976E;
            text-decoration: none;
            transition-duration: 0.2s; }
      .header .container .row .main_menu li.menu-item-has-children a {
        position: relative;
        padding: 14px 28px 14px 14px; }
        .header .container .row .main_menu li.menu-item-has-children a:hover {
          transition-duration: 0.2s; }
          .header .container .row .main_menu li.menu-item-has-children a:hover > .sub-menu {
            display: block; }
      .header .container .row .main_menu li.menu-item-has-children .sub-menu {
        position: absolute;
        z-index: 999;
        margin: 0px 0px;
        padding: 8px 0px 12px 0px;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        margin-top: 20px;
        background: #AD976E;
        display: table;
        border-radius: 0px 2px 2px 2px;
        -webkit-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 1);
        -o-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 99);
        transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 0.99);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99); }
        .header .container .row .main_menu li.menu-item-has-children .sub-menu li {
          float: none; }
          .header .container .row .main_menu li.menu-item-has-children .sub-menu li a {
            padding: 6px 38px 6px 12px;
            color: #fff;
            background: #ad976e;
            position: relative;
            display: block; }
            .header .container .row .main_menu li.menu-item-has-children .sub-menu li a:hover {
              background: #a48b5e; }
      .header .container .row .main_menu .menu-item-has-children a:after {
        content: '\f107';
        font-family: fontAwesome;
        position: absolute;
        right: 8px;
        top: 12px; }
      .header .container .row .main_menu .menu-item-has-children:hover ul.sub-menu {
        visibility: visible;
        opacity: 1;
        margin-top: 12px;
        -webkit-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 1);
        -o-transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 99);
        transition: all 0.3s cubic-bezier(0.06, 0.65, 0.34, 0.99);
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99); }
      .header .container .row .main_menu .menu-item-has-children:hover a {
        color: white;
        border-radius: 2px 2px 0px 0px;
        background: #AD976E; }
      .header .container .row .main_menu ul.sub-menu li a:after {
        content: '\f105';
        top: 6px;
        right: 10px; }
      .header .container .row .main_menu ul.sub-menu li a:hover:after {
        right: 8px; }
  .header .appointment {
    text-align: right; }
    .header .appointment a {
      font-weight: 600;
      color: #AD976E; }
      .header .appointment a:hover {
        color: #3a3a3a; }

.content-entry {
  margin-top: 90px; }

.carousel {
  width: 100%;
  min-height: 70vh;
  position: relative; }
  .carousel .carousel-inner .button {
    padding: 14px 34px 20px 24px;
    line-height: 6;
    color: #fff;
    background: #3a3a3a;
    transition-duration: 0.2s;
    -webkit-clip-path: polygon(0 0, 100% 0, 89% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 89% 90%, 0 100%); }
    .carousel .carousel-inner .button:hover {
      text-decoration: none;
      background: #a48b5e;
      transition-duration: 0.2s; }
  .carousel .carousel-inner .carousel-item {
    min-height: 70vh;
    width: 100%;
    background: green;
    background-size: cover !important;
    background-repeat: no-repeat !important; }
    .carousel .carousel-inner .carousel-item .container .row {
      color: white;
      display: flex;
      align-items: center;
      height: 70vh; }
      .carousel .carousel-inner .carousel-item .container .row h1 {
        color: white;
        letter-spacing: 0.1rem;
        font-size: 2.6rem;
        font-family: 'Merriweather', serif; }
      .carousel .carousel-inner .carousel-item .container .row h2 {
        color: white;
        font-size: 1.2rem;
        letter-spacing: 0.08rem; }
  .carousel .controls {
    right: 0;
    bottom: -1px;
    position: absolute;
    background: white;
    width: 120px;
    height: 80px;
    overflow: hidden;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%); }
    .carousel .controls .carousel-control-next, .carousel .controls .carousel-control-prev {
      opacity: 1;
      color: #bcbcbc;
      top: 42px;
      font-size: 12px; }
      .carousel .controls .carousel-control-next svg, .carousel .controls .carousel-control-prev svg {
        width: 16px; }
      .carousel .controls .carousel-control-next .st0, .carousel .controls .carousel-control-prev .st0 {
        fill: #424242;
        width: 20px; }
      .carousel .controls .carousel-control-next:hover .st0, .carousel .controls .carousel-control-prev:hover .st0 {
        fill: #AD976E; }
    .carousel .controls .carousel-control-prev {
      right: 44px;
      left: inherit;
      transform: rotate(180deg); }
    .carousel .controls .carousel-control-next {
      right: 12px; }
    .carousel .controls .seperator {
      min-width: 1px;
      min-height: 24px;
      background: #c1c1c1;
      position: absolute;
      right: 36px;
      top: 50px;
      transform: rotate(20deg); }
  .carousel .down {
    width: 60px;
    height: 50px;
    background: #AD976E;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -25px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    animation-name: down;
    animation-duration: 2.4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: forward; }
    .carousel .down:hover {
      background: #a48b5e; }
    .carousel .down svg {
      width: 24px;
      transform: rotate(90deg);
      margin: 0 auto;
      padding-right: 2px; }
    .carousel .down .st0 {
      fill: #fff; }

.content_intro {
  padding: 66px 0px;
  display: block; }
  .content_intro p {
    padding: 12px 0px; }
  .content_intro .nav-link {
    color: #3a3a3a;
    padding: 14px 12px;
    position: relative;
    background: #f0f0f0;
    border-radius: 0px;
    border-bottom: 1px dashed #dddddd; }
    .content_intro .nav-link:after {
      content: '\f105';
      font-family: fontAwesome;
      position: absolute;
      right: 14px;
      top: 12px; }
    .content_intro .nav-link:last-child {
      border-bottom: none; }
    .content_intro .nav-link:hover {
      border-radius: 0px;
      color: #fff;
      background: #a48b5e;
      transition-duration: 0.2s;
      position: relative; }
      .content_intro .nav-link:hover:after {
        right: 10px; }
  .content_intro .nav-link.active {
    border-radius: 0px;
    color: #fff;
    background: #AD976E;
    transition-duration: 0.2s;
    position: relative; }

h1 {
  color: #AD976E;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-family: 'Merriweather', serif; }

h2 {
  color: #3a3a3a;
  font-size: 1rem; }

p {
  color: #3a3a3a;
  font-size: 16px; }

.button {
  background: #3a3a3a;
  color: white;
  padding: 14px 22px;
  position: relative; }
  .button:after {
    opacity: 0%;
    content: '';
    content: '\f105';
    visibility: hidden;
    font-family: fontAwesome;
    transition-duration: 0.2s; }
  .button:hover {
    background: #AD976E;
    color: white;
    text-decoration: none;
    transition-duration: 0.2s; }
    .button:hover:after {
      padding: 0px 0px 0px 14px;
      visibility: visible;
      opacity: 1;
      transition-duration: 0.2s; }

.feautured_image {
  width: 100%;
  min-height: 38vh;
  position: relative;
  background-attachment: fixed !important;
  background-size: cover !important;
  -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 92%, 0% 100%);
  clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%); }
  .feautured_image .container {
    z-index: 555;
    position: relative; }
    .feautured_image .container .button {
      position: absolute;
      right: 1px;
      bottom: 0;
      padding: 20px 62px 30px;
      transform: rotate(-1deg);
      border: 1px solid;
      -webkit-clip-path: polygon(15% 10%, 85% 10%, 100% 100%, 0 100%);
      clip-path: polygon(15% 10%, 85% 10%, 100% 100%, 0 100%); }
    .feautured_image .container h1, .feautured_image .container h2 {
      color: white; }
    .feautured_image .container .row {
      height: 38vh;
      display: flex;
      align-items: center; }
  .feautured_image .cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3); }

.informatie_content {
  padding: 86px 0 66px 0px;
  display: block;
  background: #f3f3f3;
  margin-top: -26px; }
  .informatie_content img {
    border-radius: 2px 0px 0px 2px; }
  .informatie_content .col-md-6:nth-child(2) {
    background: white;
    margin-left: -15px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 2px 2px 0px 0px; }
    .informatie_content .col-md-6:nth-child(2) h1 {
      color: #3a3a3a;
      font-size: 1.5rem; }
    .informatie_content .col-md-6:nth-child(2) h2 {
      color: #AD976E;
      font-size: 0.8rem; }
    .informatie_content .col-md-6:nth-child(2) .button {
      background: #AD976E;
      margin-top: 20px;
      line-height: 4; }
      .informatie_content .col-md-6:nth-child(2) .button:hover {
        background: #3a3a3a; }

.footer {
  color: white;
  z-index: 55;
  position: relative;
  margin-top: -34px;
  background: #3a3a3a;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); }
  .footer .container {
    position: relative; }
    .footer .container .row h2 {
      padding-bottom: 12px;
      font-size: 1.1rem;
      color: #AD976E;
      font-family: Merriweather,serif; }
    .footer .container .row p {
      font-size: 16px;
      color: white; }
    .footer .container .row .fa {
      padding-right: 8px; }
    .footer .container .row li {
      list-style: none; }
    .footer .container .row .menu {
      margin: 0px;
      padding: 0px; }
      .footer .container .row .menu a {
        color: #fff;
        width: 100%;
        position: relative;
        display: block; }
        .footer .container .row .menu a:after {
          content: '\f105';
          top: 6px;
          right: 15px;
          font-family: fontAwesome;
          position: absolute;
          transition-duration: 0.2s; }
        .footer .container .row .menu a:hover {
          transition-duration: 0.2s; }
          .footer .container .row .menu a:hover:after {
            right: 10px;
            transition-duration: 0.2s; }
      .footer .container .row .menu .sub-menu {
        display: none;
        visibility: hidden; }
    .footer .container .row span.phone {
      font-weight: 600;
      font-size: 20px; }
  .footer .container .row {
    padding: 66px 0px; }

.copyright .container {
  position: relative; }
  .copyright .container .row {
    height: 60px;
    display: flex;
    font-size: 14px;
    align-items: center; }
.copyright .conditions {
  text-align: center; }
.copyright .social {
  transform: rotate(-1deg);
  right: 15px;
  color: white;
  top: -2px;
  position: absolute;
  padding: 4px 28px 12px;
  background: #AD976E;
  -webkit-clip-path: polygon(0 0, 100% 0, 83% 85%, 18% 85%);
  clip-path: polygon(0 0, 100% 0, 83% 85%, 18% 85%); }

.omslagfoto {
  background: #999999;
  position: relative;
  background-size: cover !important;
  background-attachment: fixed !important; }
  .omslagfoto .cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1); }
  .omslagfoto .container {
    position: relative;
    z-index: 555; }
    .omslagfoto .container .afspraak {
      color: #fff;
      padding: 10px 34px 10px 44px;
      right: 15px;
      bottom: 0px;
      position: absolute;
      background: #3a3a3a;
      -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%); }
      .omslagfoto .container .afspraak:after {
        opacity: 0%;
        content: '';
        content: '\f105';
        visibility: hidden;
        font-family: fontAwesome;
        transition-duration: 0.2s; }
      .omslagfoto .container .afspraak:hover {
        background: #AD976E;
        color: white;
        text-decoration: none;
        transition-duration: 0.2s; }
        .omslagfoto .container .afspraak:hover:after {
          padding: 0px 0px 0px 14px;
          visibility: visible;
          opacity: 1;
          transition-duration: 0.2s; }
    .omslagfoto .container .row {
      height: 44vh;
      display: flex;
      align-items: center; }
      .omslagfoto .container .row h1, .omslagfoto .container .row h2 {
        color: #fff; }

.widget {
  margin-bottom: 34px;
  color: #3a3a3a; }
  .widget a {
    color: #3a3a3a;
    transition-duration: 0.2s; }
    .widget a:hover {
      color: #AD976E;
      transition-duration: 0.2s; }
  .widget ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .widget ul li:hover {
      text-decoration: none; }
    .widget ul li a {
      position: relative;
      display: block;
      width: 90%;
      text-decoration: none; }
      .widget ul li a:hover {
        text-decoration: none !important; }
      .widget ul li a:after {
        position: absolute;
        content: '\f105';
        top: 6px;
        right: 10px;
        font-family: fontAwesome;
        transition-duration: 0.2s; }
      .widget ul li a:hover:after {
        right: 6px;
        transition-duration: 0.2s; }
  .widget .screen-reader-text {
    display: none; }
  .widget .widgettitle {
    color: #AD976E;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    padding-bottom: 8px;
    font-family: 'Merriweather', serif; }

.pagina_aanbieding {
  background: #AD976E; }
  .pagina_aanbieding .appointment_button {
    float: right;
    text-align: right; }
    .pagina_aanbieding .appointment_button .button:hover {
      background: white;
      color: #AD976E; }
  .pagina_aanbieding .container .row {
    height: 28vh;
    display: flex;
    align-items: center; }
    .pagina_aanbieding .container .row h1, .pagina_aanbieding .container .row h2 {
      color: #fff; }

.page_content {
  padding: 10vh 15px; }

.the_content ul {
  margin: 0px;
  padding: 0px 17px; }
  .the_content ul li {
    color: #3a3a3a; }

.list {
  padding-bottom: 34px;
  display: grid; }
  .list .item_prijs:hover {
    background: #f2f2f2;
    transition-duration: 0.2s; }
  .list .item_prijs .beschrijving {
    width: 80%;
    float: left; }
  .list .item_prijs .prijs {
    width: 20%;
    float: left;
    text-align: right;
    font-weight: bold;
    color: #AD976E; }
    .list .item_prijs .prijs:before {
      content: '€'; }

@keyframes down {
  0% {
    bottom: -25px; }
  50% {
    bottom: -30px; }
  100% {
    bottom: -25px; } }
.header .burger {
  display: none; }

#map {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%; }

.check_button {
  width: 60px;
  min-height: 30px;
  border-radius: 400px;
  border: 1px solid #c5c5c5;
  position: relative;
  float: right; }
  .check_button .not_checked {
    background-color: #c5c5c5;
    width: 24px;
    min-height: 24px;
    border-radius: 40px;
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 1; }
  .check_button .checked {
    background-color: #ae986f; }

.afspraakmaken {
  float: left; }

.form {
  padding-top: 15px;
  clear: both;
  position: relative; }
  .form .afspraak_form {
    display: none;
    top: 15px; }
  .form .contact_form {
    top: 15px; }
  .form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #e4e4e4; }
    .form input::placeholder {
      color: #e4e4e4; }
  .form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #e4e4e4; }

textarea::-webkit-input-placeholder {
  color: #e4e4e4; }

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #e4e4e4; }

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #e4e4e4; }

textarea:-ms-input-placeholder {
  color: #e4e4e4; }

input[type=tel] ::-webkit-input-placeholder {
  color: #e4e4e4; }

input[type=tel] :-moz-placeholder {
  /* Firefox 18- */
  color: #e4e4e4; }

input[type=tel] ::-moz-placeholder {
  /* Firefox 19+ */
  color: #e4e4e4; }

input[type=tel] :-ms-input-placeholder {
  color: #e4e4e4; }

label {
  width: 100%; }

.helft {
  float: left;
  width: 50%;
  padding: 0px 15px 0px 0px; }
  .helft:nth-child(3) {
    padding: 0px 0px 0px 15px; }

[type=submit] {
  cursor: pointer;
  background: #ad976e;
  margin-top: 20px;
  line-height: 2;
  border: none !important;
  padding: 10px 40px !important;
  width: auto !important;
  color: white; }
  [type=submit]:hover {
    background: #3a3a3a; }

@media only screen and (max-width: 1024px) {
  .header .burger {
    display: block;
    position: fixed;
    top: 32px;
    right: 32px; }
    .header .burger div {
      min-width: 20px;
      min-height: 2px;
      background: #AD976E;
      margin: 4px 0px; }
    .header .burger:hover {
      margin-top: -4px; }
      .header .burger:hover div {
        margin: 6px 0px; }

  .helft {
    width: 100%;
    padding: 0px;
    float: none; }
    .helft:nth-child(3) {
      padding: 0px; }

  .header .container .row .main_menu {
    align-items: center;
    width: 100%;
    background: white;
    z-index: -9;
    height: 0vh;
    display: flex;
    visibility: hidden;
    opacity: 0; }
    .header .container .row .main_menu ul li {
      float: none;
      transition-duration: .2s;
      text-align: center; }
      .header .container .row .main_menu ul li a {
        display: block;
        font-size: 18px; }

  .header .appointment {
    display: none; }

  .footer {
    margin-top: -22px;
    -webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%); }

  .pagina_aanbieding .container .row {
    height: 31vh;
    display: flex;
    align-items: center;
    padding-bottom: 44px;
    text-align: left;
    padding-top: 20px; }

  .pagina_aanbieding .appointment_button {
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px; }

  .feautured_image .container .button {
    padding: 20px 48px 22px;
    font-size: 14px;
    left: 0px;
    right: 0px;
    margin: 0 auto; }

  h1 {
    color: #ad976e;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    font-family: Merriweather,serif; }

  .nav-pills {
    margin-bottom: 10vh; }

  .informatie_content .col-md-6:nth-child(2) {
    margin: 0px 15px;
    border-radius: 0px 0px 2px 2px; }

  .informatie_content img {
    border-radius: 2px 2px 0 0px; }

  .omslagfoto {
    background: #999;
    position: relative;
    background-size: cover !important;
    background-attachment: fixed !important;
    max-width: 100%;
    max-height: 100%; }

  .phone a {
    color: white; } }

/*# sourceMappingURL=style.css.map */
