$head_color: #AD976E;
$secondaire_color: #3a3a3a;

$header_height: 90px;
$header_logo_width: 220px;
$header_logo_background: #AD976E;
$header_link_background: #ad976e;
$header_links_colors: #3a3a3a;
$transition_duration: 0.2s;

$carousel_height: 70vh;
$carousel_tekst: white;

$tabs_active: #AD976E;

body {
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	background: white;
	font-size: 14px;
	z-index: 999;
	font-family: 'Merriweather', serif;
	.branding {
		height: $header_height;
		width:220px;
		position: fixed;
		top:0px;
		left:0px;
		background: $header_logo_background;
		display: flex;
		text-align: center;
		align-items: center;
		&:hover {
			background: darken($header_logo_background, 5%);
		}
		img {
			height: 76px;
			margin: 0 auto;
		}
	}
	.container {
		.row {
			height: $header_height;
			display: flex;
			align-items: center;
			.main_menu {
				display: flex;
				align-items: center; 
				div {
					margin: 0 auto;
				}
				ul {
					padding:0;
					float:right;
					list-style: none;
					margin: 0 auto;
					li {
						float:left;
						transition-duration: $transition_duration;
						}
						a {
							padding:14px;
							color: $header_links_colors;
							transition-duration: $transition_duration;
							&:hover {
								color: $head_color;
								text-decoration: none;
								transition-duration: $transition_duration;
							}
						}
					}
				li.menu-item-has-children {
					a {
						position: relative;
						padding:14px 28px 14px 14px;
						&:hover {
							transition-duration: $transition_duration;
							> .sub-menu {
								display: block;
							}
						}
					}
				.sub-menu {
					position: absolute;
				    z-index: 999;
				    margin: 0px 0px;
				    padding: 8px 0px 12px 0px;
				    height: 100%;
				    opacity: 0;
				    visibility: hidden;
				    margin-top: 20px;
				    background: #AD976E;
				    display: table;
				    border-radius: 0px 2px 2px 2px;
				    -webkit-transition: all .3s cubic-bezier(.06,.65,.34,1);
				    -o-transition: all .3s cubic-bezier(.06,.65,.34,99);
				    transition: all .3s cubic-bezier(.06,.65,.34,.99);
				    transition-property: all;
				    transition-duration: 0.3s;
				    transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99);
				    li {
					    float:none;
					    a {
						    padding: 6px 38px 6px 12px;
						    color: #fff;
						    background: $header_link_background;
						    position: relative;
						    display: block;
						    &:hover {
							    background: darken($header_link_background, 5%);
						    }
					    }
				    }
				}
			}
			.menu-item-has-children {
				a {
					&:after {
						content: '\f107';
					    font-family: fontAwesome;
					    position: absolute;
					    right: 8px;
					    top: 12px;
					}
				}
				&:hover ul.sub-menu {
				visibility: visible;
				opacity: 1;
				margin-top:12px;
				-webkit-transition: all .3s cubic-bezier(.06,.65,.34,1);
				-o-transition: all .3s cubic-bezier(.06,.65,.34,99);
				transition: all .3s cubic-bezier(.06,.65,.34,.99);
				transition-property: all;
				transition-duration: 0.3s;
				transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99);
				}
			}
			.menu-item-has-children {
					&:hover a {
					color:white;
					border-radius: 2px 2px 0px 0px;
					background: $head_color;
				}
			}
			ul.sub-menu li {
				a {
					&:after {
						content:'\f105';
						top:6px;
						right:10px;
					}
					&:hover:after {
						right: 8px;
					}
					}
				}
			}
		}
	}
	.appointment {
		text-align: right;
		a {
			font-weight: 600;
			color:$head_color;
			&:hover {
				color:$header_links_colors;
			}
		}
	}
}

.content-entry {
	margin-top:90px;
}

.carousel {
	width: 100%;
	min-height: $carousel_height;
	position: relative;
	.carousel-inner {
		.button {
			padding: 14px 34px 20px 24px;
		    line-height: 6;
		    color: #fff;
		    background: $secondaire_color;
		    transition-duration: $transition_duration;
		    -webkit-clip-path: polygon(0 0,100% 0,89% 90%,0 100%);
		    clip-path: polygon(0 0,100% 0,89% 90%,0 100%);
		    &:hover {
			    text-decoration: none;
			    background: darken($head_color, 5%);
			    transition-duration: $transition_duration;
		    }
		}
		.carousel-item {
			min-height: $carousel_height;
			width: 100%;
			background:green;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			.container {
				.row {
					color:$carousel_tekst;
					display: flex;
					align-items: center;
					height: $carousel_height;
					h1 {
						color: white;
						letter-spacing: 0.1rem;
						font-size:2.6rem;
						font-family: 'Merriweather', serif;
					}
					h2 {
						color:white;
						font-size:1.2rem;
						letter-spacing: 0.08rem;
					}
				}
			}
		}
	}
	.controls {
		right:0;
		bottom:-1px;
		position: absolute;
		background: white;
		width:120px;
		height:80px;
		overflow: hidden;
		-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		.carousel-control-next, .carousel-control-prev {
			opacity: 1;
			color: #bcbcbc;
			top:42px;
			font-size:12px;
			svg {
				width: 16px;
			}
			.st0{
				fill: darken(#c1c1c1, 50%); 
				width: 20px;}
			&:hover .st0 {
				fill: $head_color;
			}
			
		}
		.carousel-control-prev {
			right:44px;
			left:inherit;
			transform: rotate(180deg);
		}
		.carousel-control-next {
			right:12px;
		}
		.seperator {
			min-width: 1px;
		    min-height: 24px;
		    background: #c1c1c1;
		    position: absolute;
		    right: 36px;
		    top: 50px;
		    transform: rotate(20deg);
		}
	}
	.down {
		width: 60px;
	    height: 50px;
	    background: $head_color;
	    position: absolute;
	    left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
	    bottom: -25px;
		-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		text-align: center;
		display: flex;
		align-items: center;
		align-content: center;
		animation-name: down;
	    animation-duration: 2.4s;
	    animation-delay: 4s;
	    animation-iteration-count: infinite;
		animation-direction: forward;
		&:hover {
			background: darken($head_color, 5%);
		}
		svg {
			width: 24px;
		    transform: rotate(90deg);
		    margin: 0 auto;
		    padding-right: 2px;
		}
		.st0 {
			fill:#fff;
		}
	}
}


.content_intro {
	padding: 66px;
    display: block;
    p {
	    padding:12px 0px;
    }
    .nav-link {
	    color:$header_links_colors;
	    padding: 14px 12px;
	    position: relative;
	    background: #f0f0f0;
	    border-radius: 0px;
	    border-bottom: 1px dashed #dddddd;
	    &:after {
		    content: '\f105';
			font-family: fontAwesome;
			position: absolute;
			right: 14px;
			top: 12px;
	    }
	    &:last-child {
		    border-bottom:none;
	    }
	    &:hover {
		    border-radius: 0px;
			color: #fff;
			background: darken($head_color, 5%);
			transition-duration: $transition_duration;
			position: relative;
			&:after {
				right: 10px;
			}
	    }
    }
    .nav-link.active {
	    border-radius: 0px;
		color: #fff;
		background: $tabs_active;
		transition-duration: $transition_duration;
		position: relative;
    }
}


    h1 {
	    color: $head_color;
		letter-spacing: 0.1rem;
		font-size:2rem;
		font-family: 'Merriweather', serif;
	}
	
	h2 {
		color: $secondaire_color;
		font-size:1rem;
	}
	
	p {
		color:$secondaire_color;
		font-size: 16px;
	}
	
	.button {
		background: $secondaire_color;
		color: white;
		padding:14px 22px;
		position: relative;
		&:after {
			opacity: 0%;
			content:'';
			content: '\f105';
			visibility: hidden;
			font-family: fontAwesome;
			transition-duration: $transition_duration;
		}
		&:hover {
			background: $head_color;
			color:white;
			text-decoration: none;
			transition-duration: $transition_duration;
			&:after {
				padding:0px 0px 0px 14px;
				visibility: visible;
				opacity: 1;
				transition-duration: $transition_duration;
			}
		}
	}

@keyframes down {
  0% {
    bottom: -25px;
  }
  50% {
    bottom: -30px;
  }
  100% {
    bottom: -25px;
  }
}
