$head_color: #AD976E;
$secondaire_color: #3a3a3a;

$header_height: 90px;
$header_logo_width: 220px;
$header_logo_background: #AD976E;
$header_link_background: #ad976e;
$header_links_colors: #3a3a3a;
$transition_duration: 0.2s;

$carousel_height: 70vh;
$carousel_tekst: white;

$tabs_active: #AD976E;

$omslagfoto_height: 44vh;

$borders: #e4e4e4;

body {
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    img {
	    max-width: 100%;
    }
}

a {
	color: $head_color;
}

::selection {
    background: $head_color;
    color: #fff;
}
.header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	background: white;
	font-size: 14px;
	z-index: 999;
	font-family: 'Merriweather', serif;
	.branding {
		height: $header_height;
		width:220px;
		position: fixed;
		top:0px;
		left:0px;
		background: $header_logo_background;
		display: flex;
		text-align: center;
		align-items: center;
		&:hover {
			background: darken($header_logo_background, 5%);
		}
		img {
			height: 76px;
			margin: 0 auto;
		}
	}
	.container {
		.row {
			height: $header_height;
			display: flex;
			align-items: center;
			.main_menu {
				display: flex;
				align-items: center; 
				div {
					margin: 0 auto;
				}
				ul {
					padding:0;
					float:right;
					list-style: none;
					margin: 0 auto;
					li {
						float:left;
						transition-duration: $transition_duration;
						}
						a {
							padding:14px;
							color: $header_links_colors;
							transition-duration: $transition_duration;
							&:hover {
								color: $head_color;
								text-decoration: none;
								transition-duration: $transition_duration;
							}
						}
					}
				li.menu-item-has-children {
					a {
						position: relative;
						padding:14px 28px 14px 14px;
						&:hover {
							transition-duration: $transition_duration;
							> .sub-menu {
								display: block;
							}
						}
					}
				.sub-menu {
					position: absolute;
				    z-index: 999;
				    margin: 0px 0px;
				    padding: 8px 0px 12px 0px;
				    height: 100%;
				    opacity: 0;
				    visibility: hidden;
				    margin-top: 20px;
				    background: #AD976E;
				    display: table;
				    border-radius: 0px 2px 2px 2px;
				    -webkit-transition: all .3s cubic-bezier(.06,.65,.34,1);
				    -o-transition: all .3s cubic-bezier(.06,.65,.34,99);
				    transition: all .3s cubic-bezier(.06,.65,.34,.99);
				    transition-property: all;
				    transition-duration: 0.3s;
				    transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99);
				    li {
					    float:none;
					    a {
						    padding: 6px 38px 6px 12px;
						    color: #fff;
						    background: $header_link_background;
						    position: relative;
						    display: block;
						    &:hover {
							    background: darken($header_link_background, 5%);
						    }
					    }
				    }
				}
			}
			.menu-item-has-children {
				a {
					&:after {
						content: '\f107';
					    font-family: fontAwesome;
					    position: absolute;
					    right: 8px;
					    top: 12px;
					}
				}
				&:hover ul.sub-menu {
				visibility: visible;
				opacity: 1;
				margin-top:12px;
				-webkit-transition: all .3s cubic-bezier(.06,.65,.34,1);
				-o-transition: all .3s cubic-bezier(.06,.65,.34,99);
				transition: all .3s cubic-bezier(.06,.65,.34,.99);
				transition-property: all;
				transition-duration: 0.3s;
				transition-timing-function: cubic-bezier(0.06, 0.65, 0.34, 0.99);
				}
			}
			.menu-item-has-children {
					&:hover a {
					color:white;
					border-radius: 2px 2px 0px 0px;
					background: $head_color;
				}
			}
			ul.sub-menu li {
				a {
					&:after {
						content:'\f105';
						top:6px;
						right:10px;
					}
					&:hover:after {
						right: 8px;
					}
					}
				}
			}
		}
	}
	.appointment {
		text-align: right;
		a {
			font-weight: 600;
			color:$head_color;
			&:hover {
				color:$header_links_colors;
			}
		}
	}
}

.content-entry {
	margin-top:90px;
}

.carousel {
	width: 100%;
	min-height: $carousel_height;
	position: relative;
	.carousel-inner {
		.button {
			padding: 14px 34px 20px 24px;
		    line-height: 6;
		    color: #fff;
		    background: $secondaire_color;
		    transition-duration: $transition_duration;
		    -webkit-clip-path: polygon(0 0,100% 0,89% 90%,0 100%);
		    clip-path: polygon(0 0,100% 0,89% 90%,0 100%);
		    &:hover {
			    text-decoration: none;
			    background: darken($head_color, 5%);
			    transition-duration: $transition_duration;
		    }
		}
		.carousel-item {
			min-height: $carousel_height;
			width: 100%;
			background:green;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			.container {
				.row {
					color:$carousel_tekst;
					display: flex;
					align-items: center;
					height: $carousel_height;
					h1 {
						color: white;
						letter-spacing: 0.1rem;
						font-size:2.6rem;
						font-family: 'Merriweather', serif;
					}
					h2 {
						color:white;
						font-size:1.2rem;
						letter-spacing: 0.08rem;
					}
				}
			}
		}
	}
	.controls {
		right:0;
		bottom:-1px;
		position: absolute;
		background: white;
		width:120px;
		height:80px;
		overflow: hidden;
		-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		.carousel-control-next, .carousel-control-prev {
			opacity: 1;
			color: #bcbcbc;
			top:42px;
			font-size:12px;
			svg {
				width: 16px;
			}
			.st0{
				fill: darken(#c1c1c1, 50%); 
				width: 20px;}
			&:hover .st0 {
				fill: $head_color;
			}
			
		}
		.carousel-control-prev {
			right:44px;
			left:inherit;
			transform: rotate(180deg);
		}
		.carousel-control-next {
			right:12px;
		}
		.seperator {
			min-width: 1px;
		    min-height: 24px;
		    background: #c1c1c1;
		    position: absolute;
		    right: 36px;
		    top: 50px;
		    transform: rotate(20deg);
		}
	}
	.down {
		width: 60px;
	    height: 50px;
	    background: $head_color;
	    position: absolute;
	    left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
	    bottom: -25px;
		-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		text-align: center;
		display: flex;
		align-items: center;
		align-content: center;
		animation-name: down;
	    animation-duration: 2.4s;
	    animation-delay: 4s;
	    animation-iteration-count: infinite;
		animation-direction: forward;
		&:hover {
			background: darken($head_color, 5%);
		}
		svg {
			width: 24px;
		    transform: rotate(90deg);
		    margin: 0 auto;
		    padding-right: 2px;
		}
		.st0 {
			fill:#fff;
		}
	}
}


.content_intro {
	padding: 66px 0px;
    display: block;
    p {
	    padding:12px 0px;
    }
    .nav-link {
	    color:$header_links_colors;
	    padding: 14px 12px;
	    position: relative;
	    background: #f0f0f0;
	    border-radius: 0px;
	    border-bottom: 1px dashed #dddddd;
	    &:after {
		    content: '\f105';
			font-family: fontAwesome;
			position: absolute;
			right: 14px;
			top: 12px;
	    }
	    &:last-child {
		    border-bottom:none;
	    }
	    &:hover {
		    border-radius: 0px;
			color: #fff;
			background: darken($head_color, 5%);
			transition-duration: $transition_duration;
			position: relative;
			&:after {
				right: 10px;
			}
	    }
    }
    .nav-link.active {
	    border-radius: 0px;
		color: #fff;
		background: $tabs_active;
		transition-duration: $transition_duration;
		position: relative;
    }
}


    h1 {
	    color: $head_color;
		letter-spacing: 0.1rem;
		font-size:2rem;
		font-family: 'Merriweather', serif;
	}
	
	h2 {
		color: $secondaire_color;
		font-size:1rem;
	}
	
	p {
		color:$secondaire_color;
		font-size: 16px;
	}
	
	.button {
		background: $secondaire_color;
		color: white;
		padding:14px 22px;
		position: relative;
		&:after {
			opacity: 0%;
			content:'';
			content: '\f105';
			visibility: hidden;
			font-family: fontAwesome;
			transition-duration: $transition_duration;
		}
		&:hover {
			background: $head_color;
			color:white;
			text-decoration: none;
			transition-duration: $transition_duration;
			&:after {
				padding:0px 0px 0px 14px;
				visibility: visible;
				opacity: 1;
				transition-duration: $transition_duration;
			}
		}
	}
	
	.feautured_image {
		width:100%;
		min-height: 38vh;
		position: relative;
		background-attachment: fixed !important;
		background-size: cover !important;
		-webkit-clip-path: polygon(0 9%, 100% 0%, 100% 92%, 0% 100%);
		clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
		.container {
			z-index: 555;
			position: relative;
				.button {
				    position: absolute;
				    right: 1px;
				    bottom: 0;
				    padding: 20px 62px 30px;
				    transform: rotate(-1deg);
				    border:1px solid;
				    -webkit-clip-path: polygon(15% 10%, 85% 10%, 100% 100%, 0 100%);
					clip-path: polygon(15% 10%, 85% 10%, 100% 100%, 0 100%);
				}
			h1, h2 {
				color:white;
			}
			.row {
				height:38vh;
				display: flex;
				align-items: center;
			}
		}
		.cover {
			top:0;
			left:0;
			width:100%;
			height: 100%;
			position: absolute;
			background:rgba(0,0,0,0.3);
		}
	}
	
.informatie_content {
	padding: 86px 0 66px 0px;
    display: block;
    background: #f3f3f3;
    margin-top: -26px;
    img {
	    border-radius: 2px 0px 0px 2px;
    }
    .col-md-6:nth-child(2) {
	    background: white;
	    margin-left:-15px;
	    padding:24px;
	    box-sizing: border-box;
	    border-radius: 2px 2px 0px 0px;
	    h1 {
		    color:$secondaire_color;
		    font-size: 1.5rem;
	    }
	    h2 {
		    color: $head_color;
		    font-size: 0.8rem;
	    }
	    .button {
		    background: $head_color;
		    margin-top:20px;
		    line-height: 4;
		    &:hover {
			    background: $secondaire_color;
		    }
	    }
    }
}

.footer {
	color:white;
	z-index: 55;
	position: relative;
	margin-top: -34px;
	background:$secondaire_color;
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
	.container {
		position: relative;
		.row {
			h2 {
				padding-bottom:12px;
				font-size:1.1rem;
				color:$head_color;
				font-family: Merriweather,serif;
			}
			p {
				font-size: 16px;
				color:white;
			}
			.fa {
				padding-right: 8px;
			}
			li {
				list-style: none;
			}
			.menu {
				margin:0px;
				padding:0px;
				a {
					color: #fff;
				    width: 100%;
				    position: relative;
				    display: block;
				    &:after {
					    content:'\f105';
						top:6px;
						right:15px;
						font-family: fontAwesome;
						position: absolute;
						transition-duration: $transition_duration;
				    }
				    &:hover {
					    transition-duration: $transition_duration;
					    &:after {
						    right:10px;
						    transition-duration: $transition_duration;
					    }
				    }
				}
				.sub-menu {
					display: none;
					visibility: hidden;
				}
			}
			span.phone {
				font-weight: 600;
				font-size: 20px;
			}
		}
	}
	.container {
		.row {
			padding:66px 0px;
		}
	}
}

.copyright {
	.container {
		position: relative;
		.row {
			height:60px;
			display: flex;
			font-size: 14px;
			align-items: center;
		}
	}
	.conditions {
		text-align: center;
	}
	.social {
		transform: rotate(-1deg);
	    right: 15px;
	    color: white;
	    top: -2px;
	    position: absolute;
	    padding: 4px 28px 12px;
	    background: $head_color;
	    -webkit-clip-path: polygon(0 0,100% 0,83% 85%,18% 85%);
	    clip-path: polygon(0 0,100% 0,83% 85%,18% 85%);
	}
}


.omslagfoto {
	background:#999999;
	position: relative;
	background-size: cover !important;
	background-attachment: fixed !important;
	.cover {
		top:0;
		left:0;
		width:100%;
		height: 100%;
		position: absolute;
		background:rgba(0,0,0,0.1);
	}
	.container {
		position: relative;
		z-index: 555;
		.afspraak {
			color: #fff;
			padding:10px 34px 10px 44px;
			right: 15px;
			bottom:0px;
			position: absolute;
			background: $secondaire_color;
			-webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
			&:after {
				opacity: 0%;
				content:'';
				content: '\f105';
				visibility: hidden;
				font-family: fontAwesome;
				transition-duration: $transition_duration;
			}
			&:hover {
				background: $head_color;
				color:white;
				text-decoration: none;
				transition-duration: $transition_duration;
			&:after {
				padding:0px 0px 0px 14px;
				visibility: visible;
				opacity: 1;
				transition-duration: $transition_duration;
			}
		}

		}
		.row {
			height: $omslagfoto_height;
			display: flex;
			align-items: center;
			h1, h2 {
				color: #fff;
			}
		}
	}
}

.widget {
	margin-bottom:34px;
	color: $secondaire_color;
	a {
		color:$secondaire_color;
		transition-duration: $transition_duration;
		&:hover {
			color:$head_color;
			transition-duration: $transition_duration;
		}
	}
	ul {
		margin:0;
		padding:0;
		list-style: none;
		li {
			&:hover {
				text-decoration: none;
			}
			a {
				position: relative;
				display: block;
				width:90%;
				text-decoration: none;	
					&:hover {
						text-decoration: none !important;
					}			
					&:after {
						position: absolute;
						content:'\f105';
						top:6px;
						right:10px;
						font-family: fontAwesome;
						transition-duration: $transition_duration;
					}
					&:hover:after {
						right:6px;
						transition-duration: $transition_duration;
					}
			}
		}
	}
	.screen-reader-text {
		display: none;
	}
	.widgettitle {
		color: $head_color;
		letter-spacing: 0.1rem;
		font-size:1.3rem;
		padding-bottom:8px;
		font-family: 'Merriweather', serif;
	}
}

.pagina_aanbieding {
	background: $head_color;
	.appointment_button {
		float:right;
		text-align: right;
		.button {
			&:hover {
				background: white;
				color: $head_color;
			}
		}
	}
	.container {
		.row {
			height: 28vh;
			display: flex;
			align-items: center;
			h1, h2 {
				color:#fff;
			}
		}
	}
}

.page_content {
	padding:10vh 15px;
}

.the_content {
		ul {
			margin: 0px;
			padding: 0px 17px;
			li {
				color: $secondaire_color;
			}
	}
}
.list {
	padding-bottom: 34px;
    display: grid;
	.item_prijs {
		&:hover {
			background: #f2f2f2;
			transition-duration: $transition_duration;
		}
		.beschrijving {
			width:80%;
			float:left;
		}
		.prijs {
			width:20%;
			float:left;
			text-align: right;
			font-weight: bold;
			color:$head_color;
			&:before {
				content:'€';
			}
		}
	}
}

@keyframes down {
  0% {
    bottom: -25px;
  }
  50% {
    bottom: -30px;
  }
  100% {
    bottom: -25px;
  }
}

.header {
	.burger {
		display: none;
	}
}

#map {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

.check_button {
	width:60px;
	min-height: 30px;
	border-radius: 400px;
	border:1px solid #c5c5c5;
	position: relative;
	float:right;
	.not_checked {
		background-color: rgb(197, 197, 197);
		width:24px;
		min-height: 24px;
		border-radius: 40px;
		position: absolute;
		top:2px;
		left:2px;
		opacity: 1;
	}
	.checked {
		background-color: rgb(174, 152, 111);
	}
}

.afspraakmaken {
	float: left;
}

.form {
	padding-top:15px;
	clear: both;
	position: relative;
	.afspraak_form {
		display: none;
		top:15px;
	}
	.contact_form {
		top:15px;
	}
	input { 
		width:100%;
		padding:8px;
		box-sizing: border-box;
		border:1px solid $borders;
		&::placeholder {
			color:$borders;
		}
	}
	textarea {
		width:100%;
		padding:8px;
		border:1px solid $borders;
	}
}


textarea::-webkit-input-placeholder {
color: $borders;
}

textarea:-moz-placeholder { /* Firefox 18- */
color: $borders;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
color: $borders;  
}

textarea:-ms-input-placeholder {
color: $borders;  
}


input[type=tel] ::-webkit-input-placeholder {
color: $borders;
}

input[type=tel] :-moz-placeholder { /* Firefox 18- */
color: $borders;  
}

input[type=tel] ::-moz-placeholder {  /* Firefox 19+ */
color: $borders;  
}

input[type=tel] :-ms-input-placeholder {
color: $borders;  
}

label {
	width:100%;
}

.helft {
	float: left;
	width:50%;
	padding:0px 15px 0px 0px;
	&:nth-child(3) {
		padding:0px 0px 0px 15px;
	}
}


[type=submit] {
			cursor: pointer;
		    background: #ad976e;
		    margin-top: 20px;
		    line-height: 2;
		    border: none!important;
		    padding: 10px 40px !important;
		    width: auto !important;
		    color: white;
		    &:hover {
			    background: $secondaire_color;
		    }
	    }

@media only screen and (max-width: 1024px) {
	.header {
		.burger {
			display: block;
		    position: fixed;
		    top: 32px;
		    right: 32px;
			div {
				min-width:20px;
				min-height: 2px;
				background:$head_color;
				margin:4px 0px;
			}
			&:hover {
				margin-top:-4px;
				div {
					margin:6px 0px;	
				}
			}
		}
	}
	.helft {
		width: 100%;
		padding:0px;
		float: none;
		&:nth-child(3) {
		padding:0px;
	}
	}
	.header {
		.container {
			.row { 
				.main_menu {
				    align-items: center;
				    width: 100%;					    
				    background: white;
				    z-index: -9;
				    height: 0vh;
				    display: flex;
				    visibility: visible;
				    opacity: 0;
				    ul {
						li {
					    	float: none;
							transition-duration: .2s;
							text-align: center;
							a {
								display: block;
								font-size: 18px;
							}
					    }
		    		}
		    	}
		    }
		}
	}
	.header {
		.appointment {
			display:none;
		}
	}
	
	.footer {
	    margin-top: -22px;
	    -webkit-clip-path: polygon(0 2%,100% 0,100% 100%,0 100%);
	    clip-path: polygon(0 2%,100% 0,100% 100%,0 100%);
	}
	.pagina_aanbieding { 
		.container { 
			.row {
			    height: 31vh;
			    display: flex;
			    align-items: center;
			    padding-bottom: 44px;
			    text-align: left;
			    padding-top: 20px;
			}
		}
	}
	.pagina_aanbieding {
		.appointment_button {
		    float: left;
		    text-align: left;
		    margin-top:10px;
    	}
	}
	
	.feautured_image {
		.container {
			.button {
				padding: 20px 48px 22px;
			    font-size: 14px;
			    left: 0px;
			    right: 0px;
			    margin: 0 auto;
			}
		}
	}
	h1 {
    	color: #ad976e;
    	letter-spacing: .1rem;
    	font-size: 1.4rem;
   		font-family: Merriweather,serif;
	}
	
	.nav-pills {
		margin-bottom:10vh;
	}
	
	.informatie_content {
		.col-md-6:nth-child(2) {
			margin: 0px 15px;
			border-radius: 0px 0px 2px 2px;
		}
	}
	
	.informatie_content img {
    	border-radius: 2px 2px 0 0px;
	}
}

